page-vacinas {
    ion-card{
        cursor:pointer;
        border:1px solid #79a2ce;
    }
    ion-card h2{
        padding-bottom:3px;
        font-weight: bold !important;
        font-size:18px !important;
    }
    ion-card p{
        font-size:10px;
        padding-bottom:1px;
        color:#232020 !important;
    }
  
    .ios-checkmark-circle{
        color:#26bd39;
    }

    .md-calendar{
        color:#79a2ce;
        padding-right: 7px;
    }

    .md-pin{
        color:#79a2ce;
        padding-right: 7px;
    }

    .ios-label{
        margin:0 !important;
    }

    .md-label{
        margin:0 !important;
    }
}
